/* import for this exercise if using react, standard link will add in index.html */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* total page color */
body {
  background-color: #111a28;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  background-color: white;
  padding: 30px;
}

/* points to h1 in header tag in order to stlye it. */
header > h1 {
  text-align: center;
  color: #24272E;
  font-weight: bold;
}

.score-board {
  border: 3px solid white;
  border-radius: 4px;
  width: 260px;
  margin: 30px auto;
  padding: 15px 20px;
  color: white;
  font-size: 45px;
  text-align: center;
  position: relative;
}

.badge {
  background: #E2584D;
  width: 120px;
  font-size: 18px;
  padding: 2px 15px;
}

/* user-label and computer-label are children of score board so the score board needs to set position as relative, otherwise the labels will be positioned refered to the browser. */
#user-label {  
  position: absolute; 
  top: 33px;
  left: -65px;
}

#computer-label {  
  position: absolute; 
  top: 33px;
  right: -65px;
}

.result {
  font-size: 35px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choices {
  text-align: center;
  margin: 50px 0;
}

.choice {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  padding: 15px;
  margin: 0 20px;
  transition: all 0.5s ease;
}

.choice:hover {
  cursor: pointer;
  background: white;
}

#action-msg {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.winning-glow {
  border: 10px solid #D4AF37;
  box-shadow: 0 0 20px #f6e5c3;
}

.losing-glow {
  border: 10px solid #fe2e2e;
  box-shadow: 0 0 20px #fe8181;
}

.draw-glow {
  border: 10px solid #c0c2ce;
  box-shadow: 0 0 20px #f8f8fa;
}